.sketch-body
  .header
    .container-fluid
      .row-fluid
        .span12
          .auth-btns.pull-right
            a.btn(href="/") Sign Out
          h1 2D2: Sketch
  svg.canvas(preserveAspectRatio="meet")

.sketch-menu
  .hub
  ul
    li.btn-line line
    li.btn-circle circle
    li.btn-arc arc
    //- li.btn-path path
    li.btn-point point
