.container
  .row
    .span12
      h1.homepage-title
        .pull-right
          .btn Sign In
        | 2D2

      .homepage-hero
        .text
          .lead CAD like you've never seen it before

          .btn.btn-success.btn-large.btn-signup.pull-right
            i.icon-ok
            span Try it out!
