.container
  .row
    .span12
      .auth-btns.pull-right
        .btn Sign In
      h1.homepage-title 2D2

      .homepage-hero
        .text
          .lead CAD like you've never seen it before

          a.btn.btn-success.btn-large.btn-signup.pull-right(href="/sketch")
            i.icon-ok
            span Try it out!
